<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script th:fragment="autocompleteScript">
$(document).ready(function(){
	$("#buscarProducto").autocomplete({
		source:function(request,response){
			$.ajax({
				url:"/factura/cargar-productos/"+request.term,
				datatype:"json",
				data:{
					term:request.term
				},
				success:function(data){
					response($.map(data,function(items){
						return{
							value:items.id,
							label:items.nombre,
							precio:items.precio
						}
					}))
				}
			})
		},
		select:function(event,ui){
			var linea = $("#itemFactura").html();
			linea = linea.replace(/{ID}/g,ui.item.value);
			linea = linea.replace("{NOMBRE}",ui.item.label);
			linea = linea.replace(/{PRECIO}/g,ui.item.precio);
			if(itemHelper.hasProducto(ui.item.value)){
				itemHelper.increment(ui.item.value,ui.item.precio)
			}else{
				$("#listaFactura tbody").append(linea);
				itemHelper.calcularTotal(ui.item.value,ui.item.precio,1);
			}
			itemHelper.calcularGranTotal();
			return false;
		}
	});
	$("form").submit(function(){
		$("#itemFactura").remove();
	})
})
itemHelper = {
	calcularTotal : function(id,precio,cantidad){
		$("#importe_"+id).html(precio * cantidad);
		itemHelper.calcularGranTotal();
	},
	hasProducto: function(id){
		var resultado = false;
		$("input[name='item_id[]']").each(function(){
			if(this.value == id){
				resultado = true;
			}
		})
		return resultado;
	},
	increment:function(id,precio){
		$("#cantidad_"+id).val(parseInt($("#cantidad_"+id).val()) + 1);
		this.calcularTotal(id,precio,$("#cantidad_"+id).val());
	},
	eliminar: function(id){
		$("#row"+id).remove();
	},
	calcularGranTotal:function(){
		var contador = 0;
		$('td[name="importe[]"]').each(function(){
			contador += parseInt($(this).text());
		});
		$('#granTotal').text(contador);
	}
}
</script>
</head>
<body>

</body>
</html>