<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container">
		<div class="card text-center mt-4">
			<div class="card-header bg-primary text-white " th:text="${titulo}"></div>
			<div class="card-body">
				<div class="container">
					<form th:action="@{/factura/form}" th:object="${factura}"
						method="post">
						<div class="form-row" >
							<div class="container form-group col-md-6">
								 	<label th:text="cliente"></label><input type="text"
									th:value="${factura.cliente.nombre} +' '+ ${factura.cliente.apellido}" class="form-control"
									aria-describedby="basic-addon1" disabled>
							</div>
						</div>
						<div class="form-row" >
							<div class="container form-group col-md-6">
								<label th:text="descripcion"></label> <input type="text"
									th:field="*{descripcion}" class="form-control"
									th:placeholder="descripcion"
									aria-describedby="basic-addon1">
							</div>
						</div>
						<div class="form-row">
							<div class="container form-group col-md-6">
								<label th:text="observacion"></label>
								<textarea class="form-control" th:field="*{observacion}"
									th:placeholder="observacion"></textarea>
							</div>
						</div>
						<div class="form-row">
							<div class="container form-group col-md-6">
								<label th:text="'Buscar Producto'"></label>
								<input type="text"
									name="buscarProducto" id="buscarProducto" class="form-control"
									th:placeholder="'Busca un Producto'">
							</div>
						</div>
						<table th:replace="factura/pantilla-item-factura :: lineas-factura"></table>
						<table id="listaFactura" class="table table-sm table-hover">
						<thead class="thead-light">
							<tr>
								<td>Producto</td>
								<td>Precio</td>
								<td>Cantidad</td>
								<td>Total</td>
								<td>Eliminar</td>
							</tr>
						</thead>
						<tbody>
						
						</tbody>
						</table>
						<span id="granTotal" class="badge badge-secondary"></span>
						<div class="form-group row">
							<div class="container col-sm-10">
								<input type="submit" class="btn btn-primary"
									th:value="${titulo}">
								<a th:href="@{'/form'}" class="btn btn-success" th:text="'Volver'"></a>
							</div>
						</div>

					</form>
				</div>
			</div>
			<div class="card-footer text-muted bg-primary text-white "></div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
<script type="text/javascript" th:replace="factura/js/autocomplete :: autocompleteScript"></script>
</body>
</html>