<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-danger text-white">
			<div class="card-header">Error : acceso no permitido</div>
			<div class="card-body">
				<h5 class="card-title">Lo siento <span th:text="${#authentication.name}"></span> ,No tienes suficientes privilegios para acceder a estre recurso</h5>
				<a th:href="@{/listar}" class="btn btn-outline-light">Ir al inicio</a>
			</div>
			<div class="card-footer"></div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>