<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header">
				<h1
					class="text-primary border border-secondary border-top-0 border-left-0 border-right-0"
					th:text="${titulo}"></h1>
					<p><a th:href="@{'/factura/form/'+${cliente.id}}" class="btn btn-success" th:text="'crear factura'"></a></p>
			</div>
			<div class="card-body">
			<img th:if="${#strings.length(cliente.foto) > 0}" style="max-width: 25%;"class="img-thumbnail rounded float-left" th:src="@{'/uploads/' + ${cliente.foto}}" th:alt="${cliente.foto}"/>
			<ul class="list-group">
			<li class="list-group-item" th:text="${cliente.nombre}"></li>
			<li class="list-group-item" th:text="${cliente.apellido}"></li>
			<li class="list-group-item" th:text="${cliente.email}"></li>
			<li class="list-group-item" th:text="${cliente.creationAt}"></li>
			</ul>
			<div class="alert alert-info mt-3" role="alert" th:if="${#lists.isEmpty(cliente.facturas)}" th:text="'El cliente '+${cliente.nombre}+' '+ ${cliente.apellido}+ ' no tiene ninguna factura actualmmente'"></div>
			<table th:if="${!#lists.isEmpty(cliente.facturas)}" class="table table-striped mt-3">
				<thead class="table-primary">
					<tr>
						<td>Folio</td>
						<td>Descripción</td>
						<td>Fecha</td>			
						<td>Total</td>															
					</tr>
				</thead>
				<tbody th:each="facturas:${cliente.facturas}">
					<tr>
					<td th:text="${facturas.id}"></td>
					<td th:text="${facturas.descripcion}"></td>
					<td th:text="${facturas.createAt}"></td>
					<td th:text="${facturas.total}"></td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>